
.vs/BioHealthy/DesignTimeBuild/.dtbcache
.vs/BioHealthy/v15/Server/sqlite3/storage.ide-shm
.vs/BioHealthy/v16/Server/sqlite3/storage.ide
.vs/BioHealthy/v16/Server/sqlite3/storage.ide-shm
.vs/BioHealthy/v16/Server/sqlite3/storage.ide-wal
.vs/BioHealthy/v16/Server/sqlite3/storage.ide
.vs/BioHealthy/v16/Server/sqlite3/storage.ide
