nav {
  margin-top: 0;
  background-color: #4189C7;
  color: white;
}
#main-logo{
  width: 80px;
}

a{
  color:blue;
}

a:hover{
  color:purple;
}

.spacing-1 {
  margin-left: 2%;
}

.spacing-2{
  margin-left:15%;
}

@media (min-width:767px){
  #main-logo{
    margin-left:90%;
    margin-top:-2%;
  }
}
