<div class="container">
  <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login">
    <h2 class="form-signin-heading">Iniciar sesion</h2>
    <label for="nombre" class="sr-only">Nombre</label>
    <input type="password" id="nombre" class="form-control" placeholder="nombre"  required>
    <label for="inputDocumento" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Documento" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Recuerdame

      </label>
      <a class="spacing-2" [routerLink]='["/registro"]' (click)='collapse()'>Registrese aqui</a>
    </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" >Ingresar</button>
</form>
</div>
