

<div class="card bg-light " style="max-width: 18rem;">
  <div class="card-header">EMPLEADOS</div>
  <div class="card-body">
  <p class="card-text">Control de Ingreso de Personal visitantes</p>
      <a [routerLink]='["/empleados"]' (click)='collapse()' class="btn btn-primary">Ingresar </a>
  </div>
</div>
<div class="card bg-light " style="max-width: 18rem;">
  <div class="card-header">VISITANTES</div>
  <div class="card-body">
  <p class="card-text">Registro  De Personal visitantes alas Instalaciones</p>
      <a [routerLink]='["/visitantes"]' (click)='collapse()' class="btn btn-primary">Ingresar </a>
  </div>
</div>
<div class="card bg-light " style="max-width: 18rem;">
  <div class="card-header">REGISTRO</div>
  <div class="card-body">
  <p class="card-text">Registro De Personal  Empleados y Visitantes</p>
      <a [routerLink]='["/registro"]' (click)='collapse()' class="btn btn-primary">Ingresar </a>
  </div>
</div>

