.card {
  display: inline-flex;
  margin-top: 100px;
  width: 300px;
  height: 200px;
}

.card-1{
  margin-left:100px;
}

.card-2,.card-3{
  margin-left:15px;
}

.card-title {
  text-align:center;
  margin-top: 2%;
  font-weight:bolder;
}

.card-text{
  text-align:center;
  margin-bottom:10%;
}

.btn{
  margin-bottom:80%;
  margin-left:50%;
  transform:translate(-50%);
}
