<div class="card card-1 rounded-circle">
  <div class="card-title">Empleados</div>
  <div class="card-body">
    <p class="card-text">Ingreso de personal</p>
    <a [routerLink]='["/empleados"]' (click)='collapse()' class="btn btn-primary">Ingresar </a>
  </div>
</div>
<div class="card card-2 rounded-circle">
  <div class="card-title">Visitante</div>
  <div class="card-body">
    <p class="card-text">Registro  de visitantes</p>
    <a [routerLink]='["/visitantes"]' (click)='collapse()' class="btn btn-primary">Ingresar </a>
  </div>
</div>
<div class="card card-3 rounded-circle">
  <div class="card-title">REGISTRO</div>
  <div class="card-body">
    <p class="card-text">Registro De Personal  Empleados y Visitantes</p>
    <a [routerLink]='["/registro"]' (click)='collapse()' class="btn btn-primary">Ingresar </a>
  </div>
</div>
