.principal {
  display:inline-flex;
  margin-top: 100px;
  width: 300px;
  height: 200px;
}

.card-1{
  margin-left:100px;
}

.card-2{
  margin-left:20px;
}

.badge{
  background-color:blue;
  height: 15px;
}

.tooltip .tooltiptext{
  background-color:red;
}
