

<div class="card bg-light my-5" style="max-width: 18rem;">
  <div class="card-header">EMPLEADOS</div>
  <div class="card-body">
  <p class="card-text">Control de Ingreso de Personal visitantes</p>
      <a [routerLink]='["/empleados"]' (click)='collapse()' class="btn btn-primary">Ingresar </a>
  </div>
</div>
<div class="card bg-light my-5" style="max-width: 18rem;">
  <div class="card-header">VISITANTES</div>
  <div class="card-body">
  <p class="card-text">Control de Ingreso de Personal visitantes</p>
      <a [routerLink]='["/visitantes"]' (click)='collapse()' class="btn btn-primary">Ingresar </a>
  </div>
</div>
<div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">REGISTRO</div>
  <div class="card-body">
  <p class="card-text">Control de Ingreso de Personal visitantes</p>
      <a [routerLink]='["/"]' (click)='collapse()' class="btn btn-primary">Ingresar </a>
  </div>
</div>
